body {
    font-family: Tahoma, Arial, Verdana, sans-serif;
    font-size: 12px;
    color: #999999;
    overflow-x: hidden;
}

p {
    color: #999;
    line-height: 18px
}

.main_container {
    width: 800px;
    margin: 0 auto;
}

.notification {
    clear: both;
    cursor: pointer;
    height: 12px;
    line-height: 30px;
    margin: 1px 0;
    padding: 7px 25px 10px 60px;
    background: red;
}

.notification strong {
    margin-right: 5px;
}

.notification p {
    color: #333333;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.message p {
    font-size: 11px;
}

.warning {
    background-image: url(../images/error.png);
    background-position: 15px center;
    background-repeat: no-repeat;
    border: 2px solid #FFC237;
    background-color: #FFEAA8;
    color: #826200;
}

.success {
    background-color: #efffb9;
    background-image: url("../images/messages/accept.png");
    background-position: 15px center;
    background-repeat: no-repeat;
    border: 2px solid #99c600;
    color: #3c5a01;
    display: none;
    left: 36%;
    position: fixed;
    top: 47%;
    width: 34%;
    z-index: 100;
    font-size: 30px;
}

.failure {
    background-image: url(../images/exclamation.png);
    background-position: 15px center;
    background-repeat: no-repeat;
    border: 2px solid #EB5339;
    background-color: #FCCAC2;
    color: #AC260F;
}

.information {
    background-image: url(../images/information.png);
    background-position: 15px center;
    background-repeat: no-repeat;
    border: 2px solid #418ACC;
    background-color: #D0E4F4;
    color: #235685;
}

.lightbulb {
    background-image: url(../images/lightbulb.png);
    background-position: 15px center;
    background-repeat: no-repeat;
    border: 2px solid #D3A350;
    background-color: #FEF0CB;
    color: #835F21;
}
.messages {
    background-image: url(../images/email.png);
    background-position: 15px center;
    background-repeat: no-repeat;
    border: 2px solid #42B4FF;
    background-color: #9DDFFF;
    color: #835F21;
}
