.Vwidget{
 margin: 0;
 padding: 0;
 width: 200px;
}
 
a.up, a.down{
 display: block;
 width:32px;
 height:32px;
 margin: 0 auto;
}
 
 a.up{
  padding-bottom: 2px;
  background:url(u-button.png);
 }
 
 a.down {
  padding-top: 2px;
  background:url(d-button.png);
 }
 
.VjCarouselLite{
 margin: 0;
 padding: 0;
}
 
.VjCarouselLite li{
 overflow: hidden;
 float: none;
 display: block;
 padding: 0;
 text-align: center;
}
 
.VjCarouselLite li div{
 margin: 0 auto;
 margin-top: 5px;
 margin-bottom: 5px;
 padding: 4px;

 height: 100px;
 width: 185px;
}